.no_encontrado{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.no_encontrado h1 {
    color: var(--negro);
}

.no_encontrado a{
    color:var(--primary);
    font-size: 3rem;
    text-decoration: none;
    margin: 0;

}